

body {padding:50px;}

#disclaimer {padding:20px; width:550px; background-color:#ddf4fc; border:1px dashed;}

#footer {margin-top:100px; width:550px; text-align:center; margin-bottom:50px; color:#666;}


hr {width:600px; float:left; margin:10 0 10 0; color:#fff;}